<div class="center jumbotron">
  <%= link_to image_tag('logo.png', alt: "logo", id: "top-logo") %>

  <h1>Kakizome</h1>

  <h2>スマホで書き初めをしよう。デジタル手書き文字で2019年を表現しませんか？</h2>

  <%= link_to "書き初める", theme_path, class: "btn btn-lg btn-primary" %>
</div>
