<h1>みんなの作品</h1>

<ul class="products">
  <% @products.each do |product| %>
    <li>
      <img src=<%= product.canvas_url %>>
      <%= product.name %>
      <%= product.theme %>
    </li>
  <% end %>
</ul>
